[Unit]
Description=TBlue Hibernate first-boot provisioning
After=local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/libexec/tblue-hibernate-setup
RemainAfterExit=yes
Nice=19
IOSchedulingClass=idle
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
